#container{
width: 1000px;
background-color: black;


}

#content h3{
	background-color: yellow;
	color: black;
}

#header{
	background-color: #EEEEEE;



}

#logodiv{
display: inline-block;
}

#num{
width: 400px;
display: inline-block;
padding-left: 230px;
font-family: times, serif;
font-size: 15px
}

#navigator{

padding-top: 0px;



}

#navigator li{
	display: inline-block;
	border-left: 1px solid black;
	padding-left: 6px;
	padding-right: 6px;

}

#about{
	background-color: #0c0c0c;
	height: 310px;
	
	

}

#image{
	display: inline-block;
	width: 90px;
	padding: 20px;
	border: 20px;


}

#content{
	display: inline-block;
	width: 575px;
	margin-left: 285px;
	background-color: #5c5c5a;
	font-size: 14px;
	color: white;
	border: 20px;
}

#break{
	padding: 10px;

}
.bl-logo{
	height: 1px;
	width: 100px;
	display: inline-block;
	

}
 .bl-line{
 	font-size: 10px;
 	display: inline-block;
 	padding-left: 100px;
 	color: white;
 	

 }

#options{
margin: 0;
height: 300px;
padding: 20px;
}

.links{
display: inline-block;
width: 230px;
height: 325px;
padding-right: 5px;


}

.links p{
	background-color: white;
	display: inline-block;
	width: 230px;
	margin: 0;
	height: 130px;
}

.links h4{
	background-color: yellow;
	padding-bottom: 0;
	height: 25px;
	display: inline-block;
	width: 230px;
	margin: 0;
}

.links img{
	height: 150px;
	width: 230px;
	padding-top: 0px;
	display: inline-block;
	margin: 0;
}

.links .thumb{
	width: 100px;
	height: 20px;
	padding-left: 130px;



}