#container{
width: 970;


}

#header{
	background-color: #EEEEEE;



}

#logodiv{
display: inline-block;
}

#num{
width: 500px;
display: inline-block;
padding-left: 100px;
font-family: times, serif;
}

#navigator{
border-top: 1px solid black;
padding-top: 0px;



}

#navigator li{
	display: inline-block;
	border-left: 1px solid black;
	padding-left: 6px;
	padding-right: 6px;

}

#about{


}

#image{


}

#content{


}

#break{


}

#options{


}

#automative{


}

#commercial{


}
#industrial{


}

#diseal{


}